*{
    padding:0;
    margin:0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:10px;
}
body{
    background-color: antiquewhite;
}
.box{
border:4px solid rgb(124, 28, 28);
margin:20px ; 
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;

}
.list{
padding:10px 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
gap:10px;
width:100%;
margin:9px;
}
.list>li{
    background-color: blue;
}
.list>li:last-child{
    align-self: flex-end;
    margin-right:5px;
}
.lastlist{
    width:100%;
    text-align: end;
}
/* ///////////////////////////////////////////////////////// */
.end{
padding:10px 0;
display: flex;
align-items: end;
justify-content: end;
flex-direction:column;
gap:10px;
}
.end>li{
    background-color: blue;
}
@media (max-width: 320px) {
 body{
   background-color: aqua;
 }
}